.card--totalValue {
  border: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  padding: 18px;
  gap: 6px;
}

.info--AllPrice {
  display: flex;
  gap: 160px;
}

.price {
  color: rgba(var(--color-primary));
}
